@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: Telefonica Regular;
  src: local("Telefonica Regular"), local("Telefonica Regular"), url(Telefonica-Regular.otf);
  font-weight: bold;
}

@font-face {
  font-family: 'Guthen';
  src: url("https://www.movistar.com.ar/documents/10180/36682980/Guthen-Bloots-Basic.woff");
}

:root {
  --clr-white: #fff;
  --clr-black: #222;
  --font-primary: 'Telefonica Regular', sans-serif;
  --font-secondary: 'Guthen', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --grayscale-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) 0px 16px 32px -4px;
  --black-shadow: 0 25px 20px 0 rgb(0 0 0 / 16%), 0 -1px 2px 0 rgb(0 0 0 / 10%);
  --background-color: rgb(0 53 255 / 50%);
  --max-width: 1170px;
  --fixed-width: 620px;
  --fixed-width-max: 900px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: var(--font-primary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.Header {
  width: 100%;
  height: 100%;
  position: relative;
}

.Header_Container {
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;
          box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;
  -webkit-transition: left .3s ease, top .3s ease;
  transition: left .3s ease, top .3s ease;
}

.Header_Container_Content {
  margin: 0 auto;
  max-width: 1140px;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header_Container_Content_Logo {
  display: block;
}

.Main {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 150px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100% 100%;
      grid-template-columns: 100% 100%;
      grid-template-areas: "contentMain contentMain";
}

@media screen and (max-width: 500px) {
  .Main {
    -ms-grid-columns: 100% 100%;
        grid-template-columns: 100% 100%;
        grid-template-areas: "contentMain contentMain";
    padding: 0 10%;
  }
}

@media screen and (min-width: 600px) {
  .Main {
    -ms-grid-columns: 100% 100%;
        grid-template-columns: 100% 100%;
        grid-template-areas: "contentMain contentMain";
  }
}

@media screen and (min-width: 786px) {
  .Main {
    -ms-grid-columns: 100% 100%;
        grid-template-columns: 100% 100%;
        grid-template-areas: "contentMain contentMain";
    padding: 0 5%;
  }
}

@media screen and (min-width: 1280px) {
  .Main {
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
        grid-template-areas: "contentMain content";
  }
}

.Main_Container {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Main_Container_Content {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "text" "title" "subtitle" "form";
}

.Main_Container_Content_Text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: text;
  font-family: "Guthen";
  font-size: 100px;
  color: #019df4;
}

@media screen and (max-width: 500px) {
  .Main_Container_Content_Text {
    font-size: 70px;
  }
}

.Main_Container_Content_Title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
  font-style: normal;
  font-weight: 200;
  line-height: 30px;
  font-size: 64px;
  color: #50534A;
  line-height: 1;
  margin-bottom: 16px;
}

@media screen and (max-width: 500px) {
  .Main_Container_Content_Title {
    font-size: 30px;
  }
}

.Main_Container_Content_Subtitle {
  width: 65%;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: subtitle;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 30px;
  color: #019df4;
  margin-bottom: 16px;
}

@media screen and (max-width: 500px) {
  .Main_Container_Content_Subtitle {
    width: 100%;
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 20px;
  }
}

.Main_Container_Content_Form {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: form;
}

.Main_Container_Content_Form .Form_Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Main_Container_Content_Form .Form_Content_Container {
  width: 60%;
  position: relative;
}

@media screen and (max-width: 500px) {
  .Main_Container_Content_Form .Form_Content_Container {
    width: 100%;
  }
}

.Main_Container_Content_Form .Form_Content_Container_Labels {
  position: absolute;
  z-index: 1;
  top: 24px;
  left: 16px;
  text-align: left;
  color: #747474;
  font-style: normal;
  font-family: Telefonica;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.12px;
  line-height: 24px;
}

.Main_Container_Content_Form .Form_Content_Container_Inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 64px;
  color: #019df4;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 0px;
  border-color: #fff;
  margin: 3% 0;
  padding: 9% 3% 3% 4%;
  font-style: normal;
  font-family: Telefonica;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.12px;
  line-height: 24px;
}

.Main_Container_Content_Form .Form_Content_Container_Inputs:focus {
  outline: none;
  border-color: #019df4;
  -webkit-box-shadow: 0 0 5px #019df4;
          box-shadow: 0 0 5px #019df4;
}

.Main_Container_Content_Form .Form_Content_Container_Radio_Item {
  display: inline-block;
  position: relative;
  margin: 10px;
  height: 50px;
}

.Main_Container_Content_Form .Form_Content_Container_Radio_Item_Check {
  display: none;
}

.Main_Container_Content_Form .Form_Content_Container_Radio_Item_Label {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  background: #019df4;
}

.Main_Container_Content_Form .Form_Content_Container_Radio_Item_Label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  background: #019df4;
}

.Main_Container_Content_Form .Form_Content_Container_Button {
  cursor: pointer;
  width: 100%;
  height: 42px;
  background-color: #019df4;
  border-radius: 60px;
  border: 0;
  color: white;
}

.Main_Container_Content_Form .Form_Content_Container_Button:hover {
  background-color: #0096c7 !important;
}

.Main_Img {
  width: 100%;
  height: 100%;
  background-image: url("../img/Background.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}

@media screen and (min-width: 600px) {
  .Main_Img {
    display: none;
  }
}

@media screen and (min-width: 786px) {
  .Main_Img {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .Main_Img {
    display: block;
  }
}

.Footer {
  width: 100%;
  height: 100%;
  background-color: #ffff;
  margin-top: 5%;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.Footer_Container {
  max-width: 1093px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.Footer_Container_Img {
  display: block;
}

@media screen and (max-width: 500px) {
  .Footer_Container_Img {
    width: 30%;
  }
}
/*# sourceMappingURL=style.css.map */